	<h2>Integrations</h2>
	<button (click)="saveAll()">Save All</button>
	<ul class="integ" [contentEditable] = makeIntegrationEditable>
		<button (click)="editInteg()">Edit</button>
		<div>
			<li *ngFor= "let integ of integrations" class="main"
			[class.selected]="integration === selectedIntegration"
			(click)="onSelect(integ)">
			<span class="badge"> {{integ.id}}</span>{{integ.name}}
			</li>
		</div>
		<button (click) = "addIntegration()">+</button>
	</ul>

	
	<div *ngIf="selectedIntegration">
	<ul class="integ" [contentEditable] = makeStepEditable>
		<button (click)="editStep()">Edit</button>
		<li *ngFor= "let step of selectedIntegration.steps" class="main"
		[class.selected]="step === selectedStep"
		class="step" 
		(click)="onSelects(step)"
		>
		<span class="badge" > {{step.id}}</span>{{step.name}}
		</li>
		<button (click) = "addStep()">+</button>
	</ul>

	</div>
	<div *ngIf="selectedStep">
	<ul class="details">
		<li *ngFor="let data of selectedStep.data" >
			<div class="container">
				<span class="badge"> {{data.name}}</span>
					<form>
					  <div class="data-group">
						<label>Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.name">
					  </div>
					  <div class="data-group">
							<label>Read Write</label>
							<select class="form-control" required [(ngModel)]="data.readWrite">
							<option *ngFor="let rw of readWrite" [value]="rw">{{rw}}</option>
							</select>
					   </div>
					  <div class="data-group">
							<label>Type</label>
							<select class="form-control" required [(ngModel)]="data.type">
							<option *ngFor="let t of type" [value]="t">{{t}}</option>
							</select>
					   </div>
					   	<div class="data-group" *ngIf="data.type=='Lookup'">
							<label>Lookups</label>
							<select class="form-control" required [(ngModel)]="data.lookup">
							<option *ngFor="let look of lookup" [value]="look">{{look}}</option>
							</select>
					   </div>
					   
					  <div class="data-group">
						<ul class="inputs">

							<label>Source Field Id</label>
							<label>Override Label</label> 
							<li *ngFor="let input of data.inputs" >
								<label>Source Step Id</label>
									<select class="form-control" [(ngModel)]="input.sourceStepId">
										<option *ngFor="let sourceStep of selectedIntegration.steps" [value]="sourceStep.name">{{sourceStep.name}}</option>
									</select>
								<!--
								<label>Source Field Id</label>
									<select class="form-control" [(ngModel)]="input.sourceFieldId">
										<option *ngFor="let sourceField of selectedIntegration.steps[indexOf(input.sourceStepId)].data[0].outputs" [value]="sourceField.fieldId">{{sourceField.fieldLabel}}</option>
									</select>
									-->
									
								<label>Override Label</label>
								<input type="text" class="form-control element" [(ngModel)]="input.overrideLabel">
							</li>
						</ul>
					  </div>
					  
					  	<div class="data-group">
						<ul class="inputs">
						
							<label>Field Id</label> 
							<label>Field Label</label>
							<li *ngFor="let output of data.outputs" >
								<input type="text" class="form-control element" [(ngModel)]="output.fieldId">
								<input type="text" class="form-control element" [(ngModel)]="output.fieldLabel">
							</li>
						</ul>
					  </div>

					  <button type="submit" class="btn btn-default">Save</button>
					</form>
			</div> 
			<div  *ngIf="data.type=='Rest Api'" class="rcontainer">
					<form>
					  <div class="data-group">
						<label>Rest API Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.name">
					  </div>
					  <div class="data-group">
						<label>URL</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.url">
					  </div>
					  <div class="data-group">
						<label>Username</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.username">
					  </div>
					  <div class="data-group">
						<label>Password</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.password">
					  </div>
					  <button type="submit" class="btn btn-default">Save</button>
					</form>
			</div>

			<div  *ngIf="data.type=='Excel'" class="rcontainer">
					<form>
					  <div class="data-group">
						<label>Excel Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.name">
					  </div>
					  <div class="data-group">
						<label>IP Address</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.ipAddress">
					  </div>
					  <div class="data-group">
						<label>Username</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.username">
					  </div>
					  <div class="data-group">
						<label>Password</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.password">
					  </div>
					  <div class="data-group">
						<label>Directory Path</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.dirPath">
					  </div>
					  <div class="data-group">
						<label>Move To Path</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.moveToPath">
					  </div>
					  <div class="data-group">
						<label>File Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.fileName">
					  </div>					  
					  <button type="submit" class="btn btn-default">Save</button>
					</form>
			</div>			
		</li> 
	</ul> 
	</div>
	

	
	

