	<h2>Integrations</h2>
	<button (click)="saveAll()">Save All</button>
	<ul class="integ">
		<div>
			<li *ngFor= "let integ of integrations; let i=index" class="main"
			[class.selected]="integration === selectedIntegration"
			(click)="onSelect(integ)">
			<span class="badge">{{integ.id}}</span><input type="text" [(ngModel)]="integ.name">
			<button (click)="removeIntegration(i)" class="x">x</button>
			</li>
		</div>
		<button (click) = "addIntegration()">+</button>
	</ul>

	
	<div *ngIf="selectedIntegration">
	<ul class="integ">
		<li *ngFor= "let step of selectedIntegration.steps; let i=index" class="main"
		[class.selected]="step === selectedStep"
		class="step" 
		(click)="onSelects(step, i)"
		>
		<span class="badge" > {{step.id}}</span><input type="text" [(ngModel)]="step.name">
		<button (click)="removeStep(i)" class="x">x</button>
		</li>
		<li class="main step"><button (click) = "addStep()">+</button></li>
	</ul>

	</div>
	<div *ngIf="selectedStep">
	<ul class="details">
		<li *ngFor="let data of selectedStep.data" >
			<div class="container">
				<span class="badge"> {{data.name}}</span>
					<form>
					  <div class="data-group">
						<label>Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.name">
					  </div>
					  <div class="data-group">
							<label>Read Write</label>
							<select class="form-control" required [(ngModel)]="data.readWrite">
							<option *ngFor="let rw of readWrite" [value]="rw">{{rw}}</option>
							</select>
					   </div>
					  <div class="data-group">
							<label>Type</label>
							<select class="form-control" required [(ngModel)]="data.type">
							<option *ngFor="let t of type" [value]="t">{{t}}</option>
							</select>
					   </div>
					   	<div class="data-group" *ngIf="data.type=='Lookup'">
							<label>Lookups</label>
							<select class="form-control" required [(ngModel)]="data.lookup">
							<option *ngFor="let look of lookup" [value]="look">{{look}}</option>
							</select>
					   </div>
					   
				<div class="data-group">
				<table class="inputs">
					  <h2> Inputs </h2>
					  <tr>
						  <th>Source Step</th>
						  <th>Source Field</th> 
						  <th>Override Label</th>
					  </tr>
						<tr *ngFor="let input of data.inputs; let i=index" >
							<td><select class="form-control" [(ngModel)]="input.sourceStepId" (change)="setIndex(option.selectedIndex)" >
									<option *ngFor="let sourceStep of selectedIntegration.steps;  let i=index" [ngValue]="sourceStep.id">{{i}} {{sourceStep.name}}
									</option>
								</select>
							</td>
							<td>
								<select class="form-control" [(ngModel)]="input.sourceFieldId">
									<option *ngFor="let sourceField of selectedIntegration.steps[0].data[0].outputs" [ngValue]="sourceField.fieldId">{{sourceField.fieldLabel}}</option>
								</select>
							</td>
							<td><input type="text" class="form-control element" [(ngModel)]="input.overrideLabel"></td>
							<button (click)="removeInput(i)" class="x">x</button>
						</tr>
						<button (click) = "addInput()">+</button>
				</table>
			</div>
					  

					  
				<div class="data-group">
				<table class="inputs">
						<h2>Outputs</h2>
						<tr>
							<th>Field Id</th> 
							<th>Field Label</th>
						</tr>
						<tr *ngFor="let output of data.outputs; let i=index" >
								<td><input type="text" class="form-control element" [(ngModel)]="output.fieldId"></td>
								<td><input type="text" class="form-control element" [(ngModel)]="output.fieldLabel"></td>
								<button (click)="removeOutput(i)" class="x">x</button>		
		</tr>
						<button (click) = "addOutput()">+</button>			
				</table>
					  </div>
					</form>
			</div> 
			<div  *ngIf="data.type=='Rest Api'" class="rcontainer">
					<form>
					  <div class="data-group">
						<label>Rest API Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.name">
					  </div>
					  <div class="data-group">
						<label>URL</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.url">
					  </div>
					  <div class="data-group">
						<label>Username</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.username">
					  </div>
					  <div class="data-group">
						<label>Password</label>
						<input type="text" class="form-control" required [(ngModel)]="data.restApi.password">
					  </div>
					</form>
			</div>

			<div  *ngIf="data.type=='Excel'" class="rcontainer">
					<form>
					  <div class="data-group">
						<label>Excel Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.name">
					  </div>
					  <div class="data-group">
						<label>IP Address</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.ipAddress">
					  </div>
					  <div class="data-group">
						<label>Username</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.username">
					  </div>
					  <div class="data-group">
						<label>Password</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.password">
					  </div>
					  <div class="data-group">
						<label>Directory Path</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.dirPath">
					  </div>
					  <div class="data-group">
						<label>Move To Path</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.moveToPath">
					  </div>
					  <div class="data-group">
						<label>File Name</label>
						<input type="text" class="form-control" required [(ngModel)]="data.excel.fileName">
					  </div>					  
					</form>
			</div>			
		</li> 
	</ul> 
	</div>
	

	
	

